.TextConverterPage__convert-icon{
    transition: all 1s ease;
}

.TextConverterPage__convert-icon:hover{
    transform: rotate(180deg);
}

.TextConverterPage__result-container{
    position: relative !important;
}

.TextConverterPage__copy-result-button{
    position: absolute !important;
    right: 45px;
    top: 15px;
}