.TextConverterPage__convert-icon{
    transition: all 1s ease;
}

.TextConverterPage__convert-icon:hover{
    transform: rotate(180deg);
}

.TextConverterPage__result-container{
    position: relative !important;
}

.TextConverterPage__copy-result-button{
    position: absolute !important;
    right: 45px;
    top: 15px;
}

.drop-area-active{
    border: dashed rgba(0, 153, 255, 0.5) 2px !important;
    background-color: rgba(0, 153, 255, 0.25);
}

.drop-area-active-error{
    border: dashed rgba(255, 0, 0, 0.5) 2px !important;
    background-color: rgba(255, 0, 0, 0.25);
}

.drop-area-active textarea{
    pointer-events: none;

}